*{box-sizing: border-box;}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #181818;
    font-size: 1.2rem;
    font-weight: bold;
}

.color1{
    background-color: rgb(255, 116, 116);
}
.color2{
    background-color: rgb(255, 204, 109);
}
.color3{
    background-color: rgb(144, 255, 144);
}
.color4{
    background-color: rgb(157, 157, 255);
}
.color5{
    background-color: rgb(255, 211, 255);
}

/* 
    box-sizing은 요소의 전체 너비와 높이를 어떻게 계산하는지를 설정
    border-box, content-box(content: 글을 적는 공간)
*/